html, body {
    margin: 0;
    padding: 0%;
}

html {
    background-image: linear-gradient(to bottom right, #dfc3bd, #5983a5, #0d2c5e);
    background-size: cover;
    background-repeat: no-repeat;
}


.delius-regular {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    min-height: 100vh;
}

.ylapalkki {
    display: flex;
    justify-content: center;
    background-image: url(materials/background_summer_pielinen.JPG);
    height: 300px;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    padding-top: 100px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.grid-container{
    display: flex;
    width: 100%;
}

.vasenboksi {
    flex-basis: 259px;
    flex-grow: 0;
    
}


.whoami {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #929db3;
    margin: 10px;
    text-align: left;
    flex-direction: column; 
    box-shadow: 6px 6px 3px #9ca4b4f9;
    
}

.erottelu {
    display: grid;
    grid-template-columns: auto auto;
    
}

.oikeaboksi {
    flex-grow: 1;
}

.topnav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    gap: 10px;
    padding: 20px;
    background-color: #929db3;
    margin: 10px;
}

.topnav>a {
    color: black;
    text-decoration: none;
}

.topnav>a.active {
    text-decoration-line: underline;
}

a:hover {
    color: white;
}

a:active {
    text-decoration: underline;
    color: white;
}

.ingredients {
    text-align: center;
    color: rgb(213, 214, 237);
    font-size: 1.5rem;
}

.more {
    text-align: justify;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 1rem;
}

.button {
    background-color: #305079;
    border-radius: 50%;
    border-color: #7f8c9d;
    border-width: 2px ;
    border-style: solid;
    padding: 15px;
    color: rgb(213, 214, 237);
    font-weight: bold;
    letter-spacing: 2px;

}

.button:hover {
    border-radius: 40%;
    border-color: rgb(171, 191, 200);
    border
}